@font-face {
  font-family: 'Neue';
  src: url("assets/fonts/NeueHaasUnica-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Neue bold';
  src: url("assets/fonts/NeueHaasUnica-Bold.ttf") format("truetype");
}

@-webkit-keyframes burger-slices-color-animation {
  from {
    background-color: #212121;
  }
  to {
    background-color: white;
  }
}

@keyframes burger-slices-color-animation {
  from {
    background-color: #212121;
  }
  to {
    background-color: white;
  }
}

@-webkit-keyframes burger-slices-color-return-animation {
  from {
    background-color: white;
  }
  to {
    background-color: #212121;
  }
}

@keyframes burger-slices-color-return-animation {
  from {
    background-color: white;
  }
  to {
    background-color: #212121;
  }
}

@-webkit-keyframes menu-hover-animation {
  from {
    border-bottom: 1px #657d6f solid;
  }
  to {
    border-bottom: 1px white solid;
  }
}

@keyframes menu-hover-animation {
  from {
    border-bottom: 1px #657d6f solid;
  }
  to {
    border-bottom: 1px white solid;
  }
}

@-webkit-keyframes member-button-animation {
  from {
    background-color: #657d6f;
    color: white;
  }
  to {
    background-color: white;
    color: #657d6f;
  }
}

@keyframes member-button-animation {
  from {
    background-color: #657d6f;
    color: white;
  }
  to {
    background-color: white;
    color: #657d6f;
  }
}

body {
  font-family: 'Neue';
  margin: 0px;
}

body * {
  text-decoration: none;
}

@media screen and (min-width: 804px) {
  body header {
    width: 100%;
    position: fixed;
    top: 0px;
  }
}

body header .header-top {
  background-color: #657d6f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5vw;
  height: 60px;
}

body header .header-top .menu, body header .header-top .account {
  display: none;
}

body header .header-top .branding a {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 804px) {
  body header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .header-top .burger-menu {
    display: none;
  }
  body header .header-top .menu {
    display: inline;
  }
  body header .header-top .menu nav ul li {
    padding-bottom: 7px;
    border-bottom: 1px #657d6f solid;
    display: inline;
    margin: auto 10px;
  }
  body header .header-top .menu nav ul li a {
    color: white;
  }
  body header .header-top .menu nav ul a:hover {
    -webkit-animation: menu-hover-animation 1s ease;
            animation: menu-hover-animation 1s ease;
    border-bottom: 1px white solid;
  }
  body header .header-top .account {
    display: inline;
  }
  body header .header-top .account button:hover {
    -webkit-animation: member-button-animation 0.6s ease-out;
            animation: member-button-animation 0.6s ease-out;
    background-color: white;
    color: #657d6f;
  }
  body header .header-top .account button {
    background-color: #657d6f;
    color: white;
    border: 2px white solid;
    border-radius: 8px;
    height: 25px;
  }
}

body header .header-top .branding > h1 {
  font-size: 1.4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body header .header-top .burger-menu > .burger-slice {
  width: 35px;
  height: 3px;
  background-color: #212121;
  margin: 6px 0px;
  border-radius: 3px;
}

body header .header-top #slice1, body header .header-top #slice2, body header .header-top #slice3 {
  -webkit-animation: burger-slices-color-return-animation 0.6s ease;
          animation: burger-slices-color-return-animation 0.6s ease;
  background-color: #212121;
}

body header .header-top .burger-menu:hover #slice1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
          transform: rotate(-45deg) translate(-9px, 7px);
}

body header .header-top .burger-menu:hover #slice2 {
  opacity: 0;
}

body header .header-top .burger-menu:hover #slice3 {
  -webkit-transform: rotate(45deg) translate(-6px, -4px);
          transform: rotate(45deg) translate(-6px, -4px);
}

body header .header-top .burger-menu:hover #slice1, body header .header-top .burger-menu:hover #slice2, body header .header-top .burger-menu:hover #slice3 {
  -webkit-animation: burger-slices-color-animation 0.6s ease;
          animation: burger-slices-color-animation 0.6s ease;
  background-color: white;
}

body header .menu-burger-activated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 2px 3px 10px rgba(66, 66, 66, 0.6);
          box-shadow: 2px 3px 10px rgba(66, 66, 66, 0.6);
}

body header .menu-burger-activated nav ul li {
  list-style: none;
}

body header .menu-burger-activated nav ul hr {
  border: 1px #266e86 solid;
  width: 66vw;
}

body main {
  margin-top: 80px;
  padding: 0 5vw;
}

body main .events-text h2 {
  color: #657d6f;
}

body main .events-text p {
  text-align: justify;
}

body main .events-text hr {
  margin-bottom: 40px;
}

body main .main-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 985px) {
  body main .main-layout section .events-list .events-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    width: 66vw;
  }
}

@media screen and (min-width: 1600px) {
  body main .main-layout section .events-list .events-grid {
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 675px) {
  body main .main-layout section .events-list .events-grid .location::before {
    content: "\1F5F8     ";
  }
}

body main .main-layout section .events-list .events-grid .event {
  border: 5px black solid;
  border-radius: 5px;
  background-color: #e6e6e6;
  margin-bottom: 10px;
}

body main .main-layout section .events-list .events-grid .event h3 {
  font-size: 1.3rem;
}

body main .main-layout section .events-list .events-grid .event * {
  padding: 20px;
}

body main .main-layout section .events-list .events-grid .event p {
  text-align: justify;
}

body main .main-layout section .events-list .events-grid .event .support-us-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main .main-layout section .events-list .events-grid .event .support-us-btns .go, body main .main-layout section .events-list .events-grid .event .support-us-btns .give {
  display: none;
}

@media screen and (max-width: 804px) {
  body main .main-layout section .events-list .events-grid .event .support-us-btns .subscribe, body main .main-layout section .events-list .events-grid .event .support-us-btns .donate {
    display: none;
  }
  body main .main-layout section .events-list .events-grid .event .support-us-btns .go {
    background-color: black;
  }
  body main .main-layout section .events-list .events-grid .event .support-us-btns .give {
    background-color: #657d6f;
  }
  body main .main-layout section .events-list .events-grid .event .support-us-btns .go, body main .main-layout section .events-list .events-grid .event .support-us-btns .give {
    color: white;
    border: none;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 10px;
    display: block;
  }
}

body main .main-layout section .events-list .events-grid .event .support-us-btns .subscribe {
  background-color: black;
}

body main .main-layout section .events-list .events-grid .event .support-us-btns .donate {
  background-color: #657d6f;
}

body main .main-layout section .events-list .events-grid .event .support-us-btns .donate, body main .main-layout section .events-list .events-grid .event .support-us-btns .subscribe {
  color: white;
  border: none;
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 10px;
}

body main .main-layout section .events-list .events-grid .event .support-us-btns .subscribe:hover {
  background-color: #c8c8c8;
  color: black;
}

body main .main-layout section .events-list .events-grid .event .support-us-btns .donate:hover {
  background-color: #c8c8c8;
  color: black;
}

body main .main-layout section .events-list .events-grid .event .infos p {
  padding: 0px;
  margin: 0px;
}

body main .main-layout aside {
  display: none;
}

@media screen and (min-width: 675px) {
  body main .main-layout aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 30px;
  }
  body main .main-layout aside section {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  body main .main-layout aside section h4 {
    margin-top: -5px;
    text-align: center;
  }
  body main .main-layout aside section #green-peace {
    background: linear-gradient(0.45deg, #1e5aff, #e12f5f, #e12fe1, #cdd026);
  }
  body main .main-layout aside section #chandeniers {
    background: linear-gradient(0.45deg, #1eff4b, #2fe1ac, #ed88ed, #e3e630);
  }
  body main .main-layout aside section #wwf {
    background: linear-gradient(0.45deg, #d85f1e, #effc3e, #20d857, #c53218);
  }
  body main .main-layout aside section .partner-wrapper {
    border-radius: 10px;
    width: 100%;
  }
  body main .main-layout aside section .partner-wrapper .partner {
    color: white;
    background-color: black;
    border: 1px #e12f5f solid;
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  body main .main-layout aside section .partner-wrapper .partner h5, body main .main-layout aside section .partner-wrapper .partner p {
    text-align: center;
  }
  body main .main-layout aside section .partner-wrapper .partner h5 {
    font-size: 1rem;
  }
  body main .main-layout aside section .partner-wrapper .partner .link-wrapper {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-inline: 25px;
  }
  body main .main-layout aside section .partner-wrapper .partner .link-wrapper a {
    color: black;
    margin: auto 5px;
  }
}

body main .covid p {
  text-align: justify;
}

body footer {
  background: #657d6f;
  color: #3d5547;
  margin-top: 50px;
}

body footer #hr-top {
  border: 2px #3d5547 dotted;
  margin: 0px;
}

body footer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

body footer .title h5 {
  margin: 20px;
}

body footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 30px;
}

body footer .footer-container .left-group, body footer .footer-container .right-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-container a {
  color: #3d5547;
}

body footer .footer-container a:hover {
  color: white;
}

body footer hr {
  border: 1px #3d5547 solid;
}

body footer .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3px;
}
/*# sourceMappingURL=style-events.css.map */