// Définition de nos constantes de style
$main-green: rgb(101, 125, 111);
$main-yellow: rgb(225, 219, 73);
$transparent-yellow: rgba(225, 219, 73, 0.7);
$burger-menu-hr-color: rgb(199, 184, 69);
$burger-menu-shadow-color: rgba(66, 66, 66, 0.6);
$grey: rgb(33, 33, 33);
$header-height: 60px;
$stats-bg-color: rgba(101, 125, 111, 0.08);
$main-blue: rgb(38, 110, 134);
$footer-font-color: rgb(61, 85, 71);

// Charger la police Neue Haas Unica
@font-face {
    font-family: 'Neue';
    src: url("assets/fonts/NeueHaasUnica-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Neue bold';
    src: url("assets/fonts/NeueHaasUnica-Bold.ttf") format("truetype");
}

body {
    
    * {
        text-decoration: none;
    }

    font-family: 'Neue';
    margin: 0px;

    header {

        .header-top {
            background-color: $main-green;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 15px;
            height: $header-height;

            .branding > h1 {
                font-size: 1.4rem;
                justify-content: flex-start;
            }

            .burger-menu > .burger-slice {
                width: 35px;
                height: 3px;
                background-color: $grey;
                margin: 6px 0px;
                border-radius: 3px;
            }

            #slice1, #slice2, #slice3 {
                animation: burger-slices-color-return-animation 0.6s ease;
                background-color: $grey;
            }

            .burger-menu:hover {

                #slice1 {
                    transform: rotate(-45deg) translate(-9px, 7px);
                }

                #slice2 {
                    opacity: 0;
                }

                #slice3 {
                    transform: rotate(45deg) translate(-6px, -4px);
                }

                #slice1, #slice2, #slice3 {
                    animation: burger-slices-color-animation 0.6s ease;
                    background-color: white;
                }
            }
        }

        .menu-burger-activated {

            display: flex;
            width: 100%;
            position: absolute;
            z-index: 2;
            
            background-color: white;
            box-shadow: 2px 3px 10px $burger-menu-shadow-color;

            nav {

                ul {

                    li {
                        list-style: none;
                    }

                    hr {
                        border: 1px $main-blue solid;
                        width: 66vw;
                    }
                }
            }
        }
    }

    main {

        .action-show-off {
            display: flex;
            max-width: 85vw;
            margin: 30px;
            border: 3px $main-green solid;
            border-radius: 5px;
            box-shadow: 3px 3px 10px rgba(66, 66, 66, 0.6);

            img {
                object-fit: cover;
                max-width: 50%;
            }

            .paragraph {
                padding: 0 10px;
                text-justify: distribute-all-lines;

                p {
                    text-justify: auto;
                }
            }
        }
    }

}