@font-face {
  font-family: 'Neue';
  src: url("assets/fonts/NeueHaasUnica-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Neue bold';
  src: url("assets/fonts/NeueHaasUnica-Bold.ttf") format("truetype");
}

@-webkit-keyframes burger-slices-color-animation {
  from {
    background-color: #212121;
  }
  to {
    background-color: white;
  }
}

@keyframes burger-slices-color-animation {
  from {
    background-color: #212121;
  }
  to {
    background-color: white;
  }
}

@-webkit-keyframes burger-slices-color-return-animation {
  from {
    background-color: white;
  }
  to {
    background-color: #212121;
  }
}

@keyframes burger-slices-color-return-animation {
  from {
    background-color: white;
  }
  to {
    background-color: #212121;
  }
}

body {
  font-family: 'Neue';
  margin: 0px;
}

body * {
  text-decoration: none;
}

body header .header-top {
  background-color: #657d6f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px;
  height: 60px;
}

body header .header-top .branding > h1 {
  font-size: 1.4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body header .header-top .burger-menu > .burger-slice {
  width: 35px;
  height: 3px;
  background-color: #212121;
  margin: 6px 0px;
  border-radius: 3px;
}

body header .header-top #slice1, body header .header-top #slice2, body header .header-top #slice3 {
  -webkit-animation: burger-slices-color-return-animation 0.6s ease;
          animation: burger-slices-color-return-animation 0.6s ease;
  background-color: #212121;
}

body header .header-top .burger-menu:hover #slice1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
          transform: rotate(-45deg) translate(-9px, 7px);
}

body header .header-top .burger-menu:hover #slice2 {
  opacity: 0;
}

body header .header-top .burger-menu:hover #slice3 {
  -webkit-transform: rotate(45deg) translate(-6px, -4px);
          transform: rotate(45deg) translate(-6px, -4px);
}

body header .header-top .burger-menu:hover #slice1, body header .header-top .burger-menu:hover #slice2, body header .header-top .burger-menu:hover #slice3 {
  -webkit-animation: burger-slices-color-animation 0.6s ease;
          animation: burger-slices-color-animation 0.6s ease;
  background-color: white;
}

body header .menu-burger-activated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 2px 3px 10px rgba(66, 66, 66, 0.6);
          box-shadow: 2px 3px 10px rgba(66, 66, 66, 0.6);
}

body header .menu-burger-activated nav ul li {
  list-style: none;
}

body header .menu-burger-activated nav ul hr {
  border: 0.2px #c7b845 solid;
  width: 66vw;
}

body main .hero-banner {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .hero-banner img {
  height: 66vh;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100vw;
}

body main .hero-banner h2 {
  font-size: 2rem;
  position: absolute;
  color: #657d6f;
  padding: 9% 5%;
  text-justify: distribute;
  text-shadow: 2px 4px 5px #8f8b8b;
}

body main .hero-banner .plant-tree-btn {
  font-size: 1.2rem;
  position: absolute;
  margin: 66% 30%;
  background-color: rgba(255, 255, 255, 0);
  border: 2px white solid;
  border-radius: 20px;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .hero-banner .plant-tree-btn a {
  color: white;
}

body main .grid-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .grid-area .about-us {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

body main .grid-area .about-us .about-block {
  background-color: lightblue;
  width: 40vw;
  height: 64vw;
}

body main .stats {
  background-color: rgba(101, 125, 111, 0.08);
  padding: 15px 0px;
}

body main .stats .trees-oxygen, body main .stats .animals, body main .stats .donate-argued {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

body main .stats .trees-oxygen div, body main .stats .animals div, body main .stats .donate-argued div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .stats .trees-oxygen div p, body main .stats .animals div p, body main .stats .donate-argued div p {
  padding: 0px;
  margin: 0px;
}

body main .stats .trees-oxygen div .green-number, body main .stats .animals div .green-number, body main .stats .donate-argued div .green-number {
  color: #657d6f;
  font-size: 1.5rem;
  font-weight: bold;
}

body main .stats .trees-oxygen div .subject, body main .stats .animals div .subject, body main .stats .donate-argued div .subject {
  font-size: 1rem;
}

body main .stats .donate-argued {
  background-color: #657d6f;
  border-radius: 20px;
  font-weight: 500;
  margin-inline: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 20px;
}

body main .stats .donate-argued a {
  color: white;
}

body main .stats .donate-argued:hover {
  background-color: #789183;
}
/*# sourceMappingURL=style.css.map */