@font-face {
  font-family: 'Neue';
  src: url("assets/fonts/NeueHaasUnica-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Neue bold';
  src: url("assets/fonts/NeueHaasUnica-Bold.ttf") format("truetype");
}

@-webkit-keyframes burger-slices-color-animation {
  from {
    background-color: #212121;
  }
  to {
    background-color: white;
  }
}

@keyframes burger-slices-color-animation {
  from {
    background-color: #212121;
  }
  to {
    background-color: white;
  }
}

@-webkit-keyframes burger-slices-color-return-animation {
  from {
    background-color: white;
  }
  to {
    background-color: #212121;
  }
}

@keyframes burger-slices-color-return-animation {
  from {
    background-color: white;
  }
  to {
    background-color: #212121;
  }
}

@-webkit-keyframes menu-hover-animation {
  from {
    border-bottom: 1px #657d6f solid;
  }
  to {
    border-bottom: 1px white solid;
  }
}

@keyframes menu-hover-animation {
  from {
    border-bottom: 1px #657d6f solid;
  }
  to {
    border-bottom: 1px white solid;
  }
}

@-webkit-keyframes about-title-size {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 2.2rem;
  }
  100% {
    font-size: 1rem;
  }
}

@keyframes about-title-size {
  0% {
    font-size: 1rem;
  }
  50% {
    font-size: 2.2rem;
  }
  100% {
    font-size: 1rem;
  }
}

@-webkit-keyframes member-button-animation {
  from {
    background-color: #657d6f;
    color: white;
  }
  to {
    background-color: white;
    color: #657d6f;
  }
}

@keyframes member-button-animation {
  from {
    background-color: #657d6f;
    color: white;
  }
  to {
    background-color: white;
    color: #657d6f;
  }
}

@-webkit-keyframes plant-button-animation {
  from {
    background-color: none;
  }
  to {
    background-color: #657d6f;
  }
}

@keyframes plant-button-animation {
  from {
    background-color: none;
  }
  to {
    background-color: #657d6f;
  }
}

@-webkit-keyframes plant-button-a-animation {
  from {
    color: #657d6f;
  }
  to {
    color: white;
  }
}

@keyframes plant-button-a-animation {
  from {
    color: #657d6f;
  }
  to {
    color: white;
  }
}

@-webkit-keyframes plant-button-pc-animation {
  from {
    background-color: none;
  }
  to {
    background-color: #657d6f;
  }
}

@keyframes plant-button-pc-animation {
  from {
    background-color: none;
  }
  to {
    background-color: #657d6f;
  }
}

@-webkit-keyframes plant-button-a-pc-animation {
  from {
    color: #657d6f;
  }
  to {
    color: white;
  }
}

@keyframes plant-button-a-pc-animation {
  from {
    color: #657d6f;
  }
  to {
    color: white;
  }
}

body {
  font-family: 'Neue';
  margin: 0px;
}

body * {
  text-decoration: none;
}

@media screen and (min-width: 804px) {
  body header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1;
  }
}

body header .header-top {
  background-color: #657d6f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 5vw;
  height: 60px;
}

body header .header-top .menu, body header .header-top .account {
  display: none;
}

body header .header-top .branding a {
  font-size: 1.2rem;
  color: white;
  letter-spacing: 2px;
  font-weight: 300;
  font-style: italic;
}

@media (min-width: 804px) {
  body header .header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body header .header-top .burger-menu {
    display: none;
  }
  body header .header-top .menu {
    display: inline;
  }
  body header .header-top .menu nav ul li {
    padding-bottom: 7px;
    border-bottom: 1px #657d6f solid;
    display: inline;
    margin: auto 10px;
  }
  body header .header-top .menu nav ul li a {
    color: white;
  }
  body header .header-top .menu nav ul a:hover {
    -webkit-animation: menu-hover-animation 1s ease;
            animation: menu-hover-animation 1s ease;
    border-bottom: 1px white solid;
  }
  body header .header-top .account {
    display: inline;
  }
  body header .header-top .account button:hover {
    -webkit-animation: member-button-animation 0.6s ease-out;
            animation: member-button-animation 0.6s ease-out;
    background-color: white;
    color: #657d6f;
  }
  body header .header-top .account button {
    background-color: #657d6f;
    color: white;
    border: 2px white solid;
    border-radius: 8px;
    height: 25px;
  }
}

body header .header-top .branding > h1 {
  font-size: 1.4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body header .header-top .burger-menu > .burger-slice {
  width: 35px;
  height: 3px;
  background-color: #212121;
  margin: 6px 0px;
  border-radius: 3px;
}

body header .header-top #slice1, body header .header-top #slice2, body header .header-top #slice3 {
  -webkit-animation: burger-slices-color-return-animation 0.6s ease;
          animation: burger-slices-color-return-animation 0.6s ease;
  background-color: #212121;
}

body header .header-top .burger-menu:hover #slice1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
          transform: rotate(-45deg) translate(-9px, 7px);
}

body header .header-top .burger-menu:hover #slice2 {
  opacity: 0;
}

body header .header-top .burger-menu:hover #slice3 {
  -webkit-transform: rotate(45deg) translate(-6px, -4px);
          transform: rotate(45deg) translate(-6px, -4px);
}

body header .header-top .burger-menu:hover #slice1, body header .header-top .burger-menu:hover #slice2, body header .header-top .burger-menu:hover #slice3 {
  -webkit-animation: burger-slices-color-animation 0.6s ease;
          animation: burger-slices-color-animation 0.6s ease;
  background-color: white;
}

body header .menu-burger-activated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 2px 3px 10px rgba(66, 66, 66, 0.6);
          box-shadow: 2px 3px 10px rgba(66, 66, 66, 0.6);
}

body header .menu-burger-activated nav ul li {
  list-style: none;
}

body header .menu-burger-activated nav ul hr {
  border: 1px #266e86 solid;
  width: 66vw;
}

body main .hero-banner {
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .hero-banner img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

body main .hero-banner h2 {
  text-align: center;
  font-size: 2rem;
  position: absolute;
  color: #657d6f;
  margin-top: 75px;
  text-shadow: 2px 4px 10px rgba(143, 139, 139, 0.5);
}

body main .hero-banner .plant-tree-btn {
  font-size: 1.2rem;
  position: absolute;
  margin: 28vh 0;
  margin-top: 275px;
  background-color: rgba(255, 255, 255, 0);
  border: 5px #657d6f solid;
  border-radius: 20px;
  width: 55%;
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .hero-banner .plant-tree-btn a {
  color: #657d6f;
  font-style: 'Neue Bold';
  font-weight: 500;
}

body main .hero-banner .plant-tree-btn:hover {
  -webkit-animation: plant-button-animation 1s ease;
          animation: plant-button-animation 1s ease;
  background-color: #657d6f;
  cursor: pointer;
}

body main .hero-banner .plant-tree-btn:hover a {
  -webkit-animation: plant-button-a-animation 1.32s ease;
          animation: plant-button-a-animation 1.32s ease;
  color: white;
}

@media screen and (min-width: 804px) {
  body main .hero-banner {
    max-width: 100%;
  }
  body main .hero-banner img {
    height: 400px;
    border-radius: 0px 0px 10vw 10vw;
    -webkit-filter: contrast(70%);
            filter: contrast(70%);
    max-width: 100%;
  }
  body main .hero-banner h2 {
    padding: 2.3vh 0;
    font-size: 45px;
    color: #657d6f;
    text-shadow: none;
  }
  body main .hero-banner .plant-tree-btn {
    border: 5px white solid;
    background-color: #657d6f;
    margin-top: 270px;
  }
  body main .hero-banner .plant-tree-btn a {
    color: white;
  }
}

@media screen and (min-width: 804px) and (orientation: portrait) {
  body main .hero-banner h2 {
    margin-top: 100px auto;
  }
}

@media screen and (max-width: 804px) and (max-aspect-ratio: 100 / 117) {
  body main .hero-banner h2 {
    margin-top: 17vh;
    font-size: 9vw;
  }
  body main .hero-banner .plant-tree-btn {
    margin-top: 42vh;
    height: 5vh;
    width: 86%;
    border: 8px #657d6f solid;
  }
  body main .hero-banner .plant-tree-btn a {
    font-size: 5vw;
  }
}

body main .grid-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
  max-width: 100vw !important;
}

@media screen and (min-width: 804px) {
  body main .grid-area .about-block:hover {
    -webkit-animation: about-title-size 0.38s alternate ease-in;
            animation: about-title-size 0.38s alternate ease-in;
  }
}

body main .grid-area .about-us {
  margin: 30px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 5vw;
}

@media screen and (min-width: 804px) {
  body main .grid-area .about-us {
    display: block;
    background-color: rgba(101, 125, 111, 0.08);
    border-radius: 10px;
  }
}

body main .grid-area .about-us .about-wrapper {
  padding: 0px;
}

body main .grid-area .about-us .about-wrapper .about-text {
  display: none;
}

@media screen and (min-width: 804px) {
  body main .grid-area .about-us .about-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 50px;
    max-width: 800px;
  }
  body main .grid-area .about-us .about-wrapper .about-text {
    display: block;
    max-width: 300px;
    text-align: justify;
    font-style: italic;
  }
  body main .grid-area .about-us .about-wrapper .about-block, body main .grid-area .about-us .about-wrapper .about-text {
    margin-inline: 10px;
  }
}

@media screen and (min-width: 1350px) {
  body main .grid-area .about-us .about-wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

body main .grid-area .about-us .about-wrapper .about-block {
  background: -webkit-gradient(linear, left top, left bottom, from(#266e86), to(#657d6f));
  background: linear-gradient(#266e86, #657d6f);
  width: 40vw;
  height: 64vw;
  max-width: 250px;
  max-height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.385);
          box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.385);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1350px) {
  body main .grid-area .about-us .about-wrapper .about-block {
    width: 64vw;
    height: 40vw;
    max-height: 250px;
    max-width: 400px;
  }
}

body main .grid-area .about-us .about-wrapper .about-block h3 {
  color: white;
}

body main .grid-area .about-us .about-wrapper .about-block .learn-more {
  border: 3px white solid;
  border-radius: 15px 0px 15px 0px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 20px;
}

body main .grid-area .about-us .about-wrapper .about-block .learn-more a {
  color: white;
  font-size: 0.8rem;
}

body main .stats {
  background-color: rgba(101, 125, 111, 0.08);
  padding: 15px 0px;
}

body main .stats .trees-oxygen, body main .stats .animals, body main .stats .donate-argued {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

@media screen and (min-width: 900px) {
  body main .stats .trees-oxygen, body main .stats .animals, body main .stats .donate-argued {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main .stats .trees-oxygen div, body main .stats .animals div, body main .stats .donate-argued div {
    margin-inline: 50px;
  }
}

body main .stats .trees-oxygen div, body main .stats .animals div, body main .stats .donate-argued div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body main .stats .trees-oxygen div p, body main .stats .animals div p, body main .stats .donate-argued div p {
  padding: 0px;
  margin: 0px;
}

body main .stats .trees-oxygen div .green-number, body main .stats .animals div .green-number, body main .stats .donate-argued div .green-number {
  color: #657d6f;
  font-size: 1.5rem;
  font-weight: bold;
}

body main .stats .trees-oxygen div .subject, body main .stats .animals div .subject, body main .stats .donate-argued div .subject {
  font-size: 1rem;
}

body main .stats .animals {
  margin-top: 6vh;
}

body main .stats .donate-argued {
  background-color: #657d6f;
  border-radius: 20px;
  font-weight: 500;
  margin-top: 55px;
  margin-bottom: 50px;
  height: 42px;
  width: 38vw;
  max-width: 450px;
  min-width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
}

body main .stats .donate-argued a {
  color: white;
}

body main .stats .donate-argued:hover {
  background-color: #789183;
}

body main .participants {
  margin-bottom: 30px;
}

body main .participants .participants-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .participants .participants-title h3 {
  color: #657d6f;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 20px;
}

body main .participants .participants-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0px;
  margin-bottom: 50px;
}

body main .participants .participants-list ul li {
  list-style: none;
  color: #266e86;
  font-style: italic;
}

body main .participants .participants-list ul li::before {
  content: "~ ";
}

body main .participants .participants-list ul li::after {
  content: " ~";
}

body main .participants .participants-list ul #trump {
  -webkit-text-decoration: line-through #266e86 solid;
          text-decoration: line-through #266e86 solid;
}

body main .participants .participants-list ul #trump::before, body main .participants .participants-list ul #trump::after {
  content: "";
}

body footer {
  background: #657d6f;
  color: #3d5547;
}

body footer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

body footer .title h5 {
  margin: 20px;
}

body footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 30px;
}

body footer .footer-container .left-group, body footer .footer-container .right-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-container a {
  color: #3d5547;
}

body footer .footer-container a:hover {
  color: white;
}

body footer hr {
  border: 1px #3d5547 solid;
}

body footer .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3px;
}
/*# sourceMappingURL=style.css.map */