@font-face {
  font-family: 'Neue';
  src: url("assets/fonts/NeueHaasUnica-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Neue bold';
  src: url("assets/fonts/NeueHaasUnica-Bold.ttf") format("truetype");
}

@-webkit-keyframes burger-slices-color-animation {
  from {
    background-color: #212121;
  }
  to {
    background-color: white;
  }
}

@keyframes burger-slices-color-animation {
  from {
    background-color: #212121;
  }
  to {
    background-color: white;
  }
}

@-webkit-keyframes burger-slices-color-return-animation {
  from {
    background-color: white;
  }
  to {
    background-color: #212121;
  }
}

@keyframes burger-slices-color-return-animation {
  from {
    background-color: white;
  }
  to {
    background-color: #212121;
  }
}

body {
  font-family: 'Neue';
  margin: 0px;
}

body * {
  text-decoration: none;
}

body header .header-top {
  background-color: #657d6f;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 15px;
  height: 60px;
}

body header .header-top .branding > h1 {
  font-size: 1.4rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body header .header-top .burger-menu > .burger-slice {
  width: 35px;
  height: 3px;
  background-color: #212121;
  margin: 6px 0px;
  border-radius: 3px;
}

body header .header-top #slice1, body header .header-top #slice2, body header .header-top #slice3 {
  -webkit-animation: burger-slices-color-return-animation 0.6s ease;
          animation: burger-slices-color-return-animation 0.6s ease;
  background-color: #212121;
}

body header .header-top .burger-menu:hover #slice1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 7px);
          transform: rotate(-45deg) translate(-9px, 7px);
}

body header .header-top .burger-menu:hover #slice2 {
  opacity: 0;
}

body header .header-top .burger-menu:hover #slice3 {
  -webkit-transform: rotate(45deg) translate(-6px, -4px);
          transform: rotate(45deg) translate(-6px, -4px);
}

body header .header-top .burger-menu:hover #slice1, body header .header-top .burger-menu:hover #slice2, body header .header-top .burger-menu:hover #slice3 {
  -webkit-animation: burger-slices-color-animation 0.6s ease;
          animation: burger-slices-color-animation 0.6s ease;
  background-color: white;
}

body header .menu-burger-activated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 2;
  background-color: white;
  -webkit-box-shadow: 2px 3px 10px rgba(66, 66, 66, 0.6);
          box-shadow: 2px 3px 10px rgba(66, 66, 66, 0.6);
}

body header .menu-burger-activated nav ul li {
  list-style: none;
}

body header .menu-burger-activated nav ul hr {
  border: 1px #266e86 solid;
  width: 66vw;
}

body main {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#657d6f));
  background: linear-gradient(white, #657d6f);
  padding-bottom: 30px;
}

body main .page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .page-title h1 {
  color: #657d6f;
  padding: 0px;
  margin: 10px 0px;
  margin-top: 20px;
  font-size: 1.66rem;
}

body main .action-show-off-wrapper {
  margin: 27px;
  border-radius: 5px;
  padding: 5px 5px;
  -webkit-box-shadow: 3px 3px 10px rgba(66, 66, 66, 0.6);
          box-shadow: 3px 3px 10px rgba(66, 66, 66, 0.6);
}

body main .action-show-off-wrapper .action-show-off {
  border: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 35vh;
}

@media screen and (max-width: 550px) {
  body main .action-show-off-wrapper .action-show-off {
    max-height: 60vh;
  }
}

body main .action-show-off-wrapper .action-show-off img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 50%;
  border-radius: 5px 0px 0px 5px;
}

body main .action-show-off-wrapper .action-show-off .paragraph {
  background-color: white;
  border-radius: 0px 5px 5px 0px;
}

body main .action-show-off-wrapper .action-show-off .paragraph p {
  padding: 0px 2vw;
  color: #657d6f;
  text-align: justify;
}

body main .action-show-off-wrapper .action-show-off .paragraph h2 {
  color: #657d6f;
  margin: 1vw 2vw;
}

body main #first {
  background: linear-gradient(0.45turn, #657d6f, #aaaaaa);
}

body main #second {
  background: linear-gradient(0.45turn, #aaaaaa, #d2d2d2);
}

body main #second .action-show-off {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body main #second .action-show-off img {
  border-radius: 0px 5px 5px 0px;
}

body main #second .action-show-off .paragraph {
  border-radius: 5px 0px 0px 5px;
}

body main #third {
  background: linear-gradient(0.45turn, #d2d2d2, white);
}

body footer {
  background: #657d6f;
  color: #3d5547;
}

body footer #hr-top {
  border: 2px #3d5547 dotted;
  margin: 0px;
}

body footer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
}

body footer .title h5 {
  margin: 20px;
}

body footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 30px;
}

body footer .footer-container .left-group, body footer .footer-container .right-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-container a {
  color: #3d5547;
}

body footer .footer-container a:hover {
  color: white;
}

body footer hr {
  border: 1px #3d5547 solid;
}

body footer .social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3px;
}
/*# sourceMappingURL=style-realisations.css.map */