// Définition de nos constantes de style
$main-green: rgb(101, 125, 111);
$main-yellow: rgb(225, 219, 73);
$transparent-yellow: rgba(225, 219, 73, 0.7);
$burger-menu-hr-color: rgb(199, 184, 69);
$burger-menu-shadow-color: rgba(66, 66, 66, 0.6);
$grey: rgb(33, 33, 33);
$header-height: 60px;
$stats-bg-color: rgba(101, 125, 111, 0.08);
$main-blue: rgb(38, 110, 134);
$footer-font-color: rgb(61, 85, 71);

$green-peace-bg-1: rgb(30, 90, 255);
$green-peace-bg-2: rgb(225, 47, 95);
$green-peace-bg-3: rgb(225, 47, 225);
$green-peace-bg-4: rgb(205, 208, 38);

$chandeniers-bg-1: rgb(30, 255, 75);
$chandeniers-bg-2: rgb(47, 225, 172);
$chandeniers-bg-3: rgb(237, 136, 237);
$chandeniers-bg-4: rgb(227, 230, 48);

$wwf-bg-1: rgb(216, 95, 30);
$wwf-bg-2: rgb(239, 252, 62);
$wwf-bg-3: rgb(32, 216, 87);
$wwf-bg-4: rgb(197, 50, 24);

$aside-show-media: 985px;

$main-breakpoint: 745px;

// Charger la police Neue Haas Unica
@font-face {
    font-family: 'Neue';
    src: url("assets/fonts/NeueHaasUnica-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'Neue bold';
    src: url("assets/fonts/NeueHaasUnica-Bold.ttf") format("truetype");
}

// Animations
@keyframes burger-slices-color-animation {
    from {background-color: $grey;}
    to {background-color: white;}
}

@keyframes burger-slices-color-return-animation {
    from {background-color: white;}
    to {background-color: $grey;}
}

body {
    
    * {
        text-decoration: none;
    }

    font-family: 'Neue';
    margin: 0px;

    header {

        .header-top {
            background-color: $main-green;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0px 15px;
            height: $header-height;

            .menu, .account {
                display: none;
            }

            // Cette media query permet de ne pas afficher le contenu du menu burger
            // Et d'afficher à la place, le menu directement dans le header.
            @media (min-width: $main-breakpoint) {

                .burger-menu {
                    display: none;
                }
                
                .menu {
                    display: inline;

                    nav {

                        ul {

                            li {
                                display: inline;
                                margin: auto 10px;

                                a {
                                    color: white;
                                }

                                a:hover {
                                    color: $footer-font-color;
                                }
                            }
                        }
                    }
                }

                .account {
                    display: inline;
                    
                    button {
                        background-color: $main-yellow;
                        color: white;
                        border: 0px;
                        border-radius: 15px;
                        height: 25px;
                    }

                    button:hover {
                        color: $footer-font-color;
                    }
                }
            }

            .branding > h1 {
                font-size: 1.4rem;
                justify-content: flex-start;
            }

            .burger-menu > .burger-slice {
                width: 35px;
                height: 3px;
                background-color: $grey;
                margin: 6px 0px;
                border-radius: 3px;
            }

            #slice1, #slice2, #slice3 {
                animation: burger-slices-color-return-animation 0.6s ease;
                background-color: $grey;
            }

            .burger-menu:hover {

                #slice1 {
                    transform: rotate(-45deg) translate(-9px, 7px);
                }

                #slice2 {
                    opacity: 0;
                }

                #slice3 {
                    transform: rotate(45deg) translate(-6px, -4px);
                }

                #slice1, #slice2, #slice3 {
                    animation: burger-slices-color-animation 0.6s ease;
                    background-color: white;
                }
            }
        }

        .menu-burger-activated {

            display: flex;
            width: 100%;
            position: absolute;
            z-index: 2;
            
            background-color: white;
            box-shadow: 2px 3px 10px $burger-menu-shadow-color;

            nav {

                ul {

                    li {
                        list-style: none;
                    }

                    hr {
                        border: 1px $main-blue solid;
                        width: 66vw;
                    }
                }
            }
        }
    }

    main {
        margin-top: 66px;
        padding: 0 5vw;

        .events-text {
            h2 {
                color: $main-green;
            }

            p {
                text-align: justify;
            }

            hr {
                margin-bottom: 40px;
            }
        }

        .main-layout {
            display: flex;

            section {

                .events-list {

                    .events-grid {

                        @media screen and (min-width: $aside-show-media) {
                            display: grid;
                            grid-template-columns: repeat(2, auto);
                            grid-gap: 10px;
                            width: 66vw;
                        }

                        @media screen and (min-width: 1600px) {
                            grid-template-columns: repeat(3, auto);
                        }

                        .event {
                            border: 5px black solid;
                            border-radius: 5px;
                            background-color: rgb(230, 230, 230);
                            margin-bottom: 10px;

                            h3 {
                                font-size: 1.3rem;
                            }

                            * {
                                padding: 20px;
                            }

                            p {
                                text-align: justify;
                            }

                            #location::before {
                                content: "\1F5F8     ";
                            }

                            .support-us-btns {
                                display: flex;
                                justify-content: space-evenly;

                                #go, #give {
                                    display: none;
                                }

                                /*
                                @media screen and (max-width: 985px) {

                                    #go {
                                        background-color: black;
                                    }

                                    #give {
                                        background-color: $main-green;
                                    }

                                    #go, #give {
                                        color: white;
                                        border: none;
                                        border-radius: 3px;
                                        margin-bottom: 5px;
                                        padding: 10px;
                                        display: block;
                                    }

                                    #subscribe, #donate {
                                        display: none;
                                    }
                                }
                                */

                                #subscribe {
                                    background-color: black;
                                }

                                #donate {
                                    background-color: $main-green;
                                }

                                #donate, #subscribe {
                                    color: white;
                                    border: none;
                                    border-radius: 3px;
                                    margin-bottom: 5px;
                                    padding: 10px;
                                }
                            }

                            .infos {

                                p {
                                    padding: 0px;
                                    margin: 0px;
                                }
                            }
                        }
                    }
                }
            }

            aside {
                display: none;

                @media screen and (min-width: 675px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    margin-left: 30px;

                    section {
                        margin-top: 0px;
                        margin-bottom: 30px;

                        h4 {
                            margin-top: -5px;
                            text-align: center;
                        }

                        #green-peace {
                            background: linear-gradient(0.45deg, $green-peace-bg-1, $green-peace-bg-2, $green-peace-bg-3, $green-peace-bg-4);                        
                        }

                        #chandeniers {
                            background: linear-gradient(0.45deg, $chandeniers-bg-1, $chandeniers-bg-2, $chandeniers-bg-3, $chandeniers-bg-4);                        
                        }

                        #wwf {
                            background: linear-gradient(0.45deg, $wwf-bg-1, $wwf-bg-2, $wwf-bg-3, $wwf-bg-4);
                        }

                        .partner-wrapper {
                            border-radius: 10px;
                            width: 100%;
                            
                            .partner {
                                color: white;
                                background-color: black;
                                border: 1px $green-peace-bg-2 solid;
                                margin: 10px;
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                padding: 10px;

                                h5, p {
                                    text-align: center;
                                }
                                
                                h5 {
                                    font-size: 1rem;
                                }
                            
                                .link-wrapper {
                                    background-color: white;
                                    border-radius: 10px;
                                    margin-bottom: 15px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: baseline;
                                    margin-inline: 25px;

                                    a {
                                        color: black;
                                        margin: auto 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        background: $main-green;
        color: $footer-font-color;
        margin-top: 50px;

        #hr-top {
            border: 2px $footer-font-color dotted;
            margin: 0px;
        }

        .title {
            display: flex;
            justify-content: center;
            font-size: 2rem;

            h5 {
                margin: 20px;
            }
        }

        .footer-container {
            display: flex;
            align-items: flex-start;
            justify-content: space-evenly;
            padding-bottom: 30px;

            .left-group, .right-group {
                display: flex;
                flex-direction: column;
            }

            a {
                color: $footer-font-color;
            }

            a:hover {
                color: white;
            }
        }

        hr {
            border: 1px $footer-font-color solid;
        }

        .social-networks {
            display: flex;
            justify-content: center;
            padding-bottom: 3px;
        }
    }
}